/*1- #FEEEE2 2- #111E30
3- #655026
*/
body{
font-family: 'Lobster', cursive;
}
.OuSuisJeTombe{
    height: 400px ;
    color:#111E30;
    opacity:0.8;
}
.presentation{
    height:500px;
    background-color:#FFFFFF;
}
.navbar-right {
    margin-right: 0;
}
.navbar{
    background-color:#FFFFFF;
    font-size:20px;
    color:#111E30;
}
.navbar-brand{
    font-size:22px;
}
.parallax-window {
    min-height: 600px;
    background: transparent;
}
.sous_block{
    height:300px;
    margin-top:100px;
    margin-bottom:100px;
    background-color:#111E30;
    opacity:0.6;
    color:#FEEEE2;
}
.description{
    height:100px;
    opacity:0.8;
    background:transparent;
    font-size:20px;
}
.contenu_scroll{
  overflow:scroll;
}
.form-horizontal .form-group {
    margin-top: 12%;
}
.form-js{
    color:#FFFFFF;
    font-size:18px;
}
code{
    color: #FFFFFF;
    background-color: #111E30;
}
/*debut du pacman */
 .pacman { 
     width: 0px; 
     height: 0px; 
     border-right: 80px solid transparent; 
     border-top: 80px solid #FFFFFF;
     border-left: 80px solid #FFFFFF;
     border-bottom: 80px solid #FFFFFF;
     border-top-left-radius: 80px; 
     border-top-right-radius: 80px;
     border-bottom-left-radius: 80px;
     border-bottom-right-radius: 80px;
    -webkit-animation: manger 10s infinite; /* Chrome, Safari, Opera */ 
    animation: manger 10s infinite;
     margin-top:30%;
} 
@-webkit-keyframe manger {
    from { border-right-color : transparent; }
    to {border-right-color : #FEEEE2 ; }
}
@keyframe manger{
    from { border-right-color : transparent; }
    to {border-right-color : #FEEEE2 ; }
}
/* a manger pour le pacman*/
.nourriture{
    margin-top: 129%;
     width: 70px;
    height: 70px;
    background: #6B88B2;
    border-radius: 96px;
    position :relative;
    -webkit-animation: escape 10s infinite; /* Chrome, Safari, Opera */ 
    animation: escape 10s infinite;
}

/* Chrome, Safari, Opera */ 
@-webkit-keyframes escape {
    0%   {right: 0px;}
    25%  {right: 200px;}
    75%  {right: 50px}
    100% {right: 100px;}
}

/* syntaxe Standard  */
@keyframes escape {
    0%   {right: 0px;}
    25%  {right: 200px;}
    75%  {right: 50px}
    100% {right: 100px;}
}
.photo{
    height:317px;
}

.content{
    height: 100%;
    opacity: 0;
    transition: 0.4s;
}
.nopadding{
    padding:0px;
}

.photo:hover .content{
    background-color:#FFFFFF ;
    opacity: 0.8;
    transition: 0.4s;
    padding-top:10%;
}
.AvantFooter{
    height:100px;
    background-color:#111E30;
}
.ex1{
    background-image: url(img/challenge_5.png);
    background-size:cover;
}
.ex2{
    background-image:url(img/challenge_6.png);
    background-size:cover;
}
.ex3{
    background-image: url(img/fedala.png);
    background-size:cover;
}
.ex4{
    background-image: url(img/chuck_norris.png);
    background-size:cover;
}
.ex5{
    background-size:cover;
    background-image: url(img/fb.png);
}
.ex6{
    background-size:cover;
    background-image: url(img/blibli.png);
}
aside {
  float: left;
  margin-right: 100px;
}
.chart {
  margin-bottom:0;
  margin-top:0;
}
.vert > canvas, .vert > ol {
  display:inline-block
}
.horiz > li {
  display: inline;
  padding-right: 20px;
}
.legend {
  vertical-align:top;
  padding-left:15px;
  list-style: none;
}
.key {
  position:relative;
}
.key:before {
  content:"";
  position:absolute;
  top:35%;
  left:-15px;
  width:10px;
  height:10px;
}
.one:before{background:rgb(236, 208, 120)}
.two:before{background:rgba(217, 91, 67, 0.7)}
.three:before{background:rgba(192, 41, 66, 0.7)}
.four:before{background:rgba(84, 36, 55, 0.7)}
.five:before{background:rgba(83, 119, 122, 0.7)}
.six:before{background:rgba(119, 146, 174, 0.7)}
