/*1- #FEEEE2 2- #6B88B2
3- #655026
*/
body{
font-family: 'Lobster', cursive;
}
.presentation{
    height:500px;
    background-color:#6B88B2;
}
.navbar-right {
    margin-right: 0;
}
.navbar{
    background-color:#FEEEE2;
    font-size:20px;
}
.navbar-brand{
    font-size:22px;
}
.parallax-window {
    min-height: 600px;
    background: transparent;
}
.sous_block{
    height:300px;
    margin-top:100px;
    margin-bottom:100px;
    background-color:#655026;
    opacity:0.6;
    color:#FEEEE2;
}
.contenu_scroll{
  overflow:scroll;
}
.form-horizontal .form-group {
    margin-top: 12%;
}
.form-js{
    color:#FEEEE2;
    font-size:18px;
}
code{
    color:#FEEEE2;
    background-color: #655026;
}
/*debut du pacman */
 .pacman { 
     width: 0px; 
     height: 0px; 
     border-right: 80px solid transparent; 
     border-top: 80px solid #FEEEE2; 
     border-left: 80px solid #FEEEE2; 
     border-bottom: 80px solid #FEEEE2; 
     border-top-left-radius: 80px; 
     border-top-right-radius: 80px;
     border-bottom-left-radius: 80px;
     border-bottom-right-radius: 80px;
    -webkit-animation: manger 10s infinite; /* Chrome, Safari, Opera */ 
    animation: manger 10s infinite;
     margin-top:30%;
} 
@-webkit-keyframe manger {
    from { border-right-color : transparent; }
    to {border-right-color : #FEEEE2 ; }
}
@keyframe manger{
    from { border-right-color : transparent; }
    to {border-right-color : #FEEEE2 ; }
}
/* a manger pour le pacman*/
.nourriture{
    margin-top: 129%;
     width: 70px;
    height: 70px;
    background: #6B88B2;
    border-radius: 96px;
    position :relative;
    -webkit-animation: escape 10s infinite; /* Chrome, Safari, Opera */ 
    animation: escape 10s infinite;
}

/* Chrome, Safari, Opera */ 
@-webkit-keyframes escape {
    0%   {right: 0px;}
    25%  {right: 200px;}
    75%  {right: 50px}
    100% {right: 100px;}
}

/* syntaxe Standard  */
@keyframes escape {
    0%   {right: 0px;}
    25%  {right: 200px;}
    75%  {right: 50px}
    100% {right: 100px;}
}
